<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body> 
    <div id="app">
        <button @click="set('plus')" onclick ="showplus(),plus1()">+</button> 
        <button @click="set('minus')" onclick ="showMinus(),minus1()">-</button>
        <button @click="set('multiply')" onclick ="showMultiply(),multi()">*</button>
        <button @click="set('divide')" onclick ="showDivide(),divi()" >/</button>
        <br>
        <h3 id ="demo">การบวก</h3>
        <br>
        <input type="text" v-model="number1">
        <label id="demo1">+</label>
        <input type="text" v-model="number2">
        =
        <template v-if="variable =='plus'">
            {{plus}}
        </template>
        <template v-if="variable =='minus'">
            {{minus}}
        </template>
        <template v-if="variable =='multiply'">
            {{multiply}}
        </template>
        <template v-if="variable =='divide'">
            {{divide}}
        </template>
        <template v-if="variable ==''">
            {{plus}}
        </template>
    </div>
    <script>
        function showplus() {
        document.getElementById("demo").innerHTML = "การบวก";
        }
        function showMinus() {
        document.getElementById("demo").innerHTML = "การลบ";
        }
        function showMultiply() {
        document.getElementById("demo").innerHTML = "การคูณ";
        }
        function showDivide() {
        document.getElementById("demo").innerHTML = "การหาร";
        }
    </script>
    <script>
        function plus1() {
        document.getElementById("demo1").innerHTML = "+";
        }
        function minus1() {
        document.getElementById("demo1").innerHTML = "-";
        }
        function multi() {
        document.getElementById("demo1").innerHTML = "*";
        }
        function divi() {
        document.getElementById("demo1").innerHTML = "/";
        }
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 0,
                number2: 0,
                result: 0,
                variable:'',
            },
            methods: {
                set: function (str) {
                    this.variable = str
                }
            },
            computed:{
                plus: function() {
                    this.operator='+'
                    return parseInt(this.number1)+parseInt(this.number2);
                },
                minus: function(){
                    this.operator='-'
                    return parseInt(this.number1)-parseInt(this.number2);
                },
                multiply: function(){
                    this.operator='*'
                    return parseInt(this.number1)*parseInt(this.number2);
                },
                divide: function(){
                    this.operator='/'
                    return parseInt(this.number1)/parseInt(this.number2);
                }
            },
        });
    </script>
</body>
</html>