<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <br>
        <template v-if="Status==' '">
            {{  random()  }}
            <br><br>
            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Status }}
        </template>
        <template v-if="Status=='น้อยไป'">
            {{  r  }}
            <br><br>
            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
        {{ Status }}
        </template>
        <template v-if="Status=='มากไป'">
            {{  r  }}
            <br><br>
            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Status }}
        </template>
        <template v-if="Status=='ถูกต้องง'">
            {{  random()  }}
            <br><br>
            <button v-for="box in boxes" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ Status }}
        </template>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                r: 0,
                boxes: [0,1,2,3,4,5,6,7,8,9],
                Status:" "
            },
            methods: {
                check: function(num){
                    if(num<this.r){
                        this.Status = 'น้อยไป'
                    }else if(num>this.r){
                        this.Status = 'มากไป'
                    }else if(num==this.r){
                        this.Status = 'ถูกต้องง'
                    }
                },
                random: function() {
                    random = Math.floor(Math.random()*10);
                    this.r = random;
                    return this.r
                }
                },
        });
    </script>
</body>
</html>